+# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

# rider
.idea/
.vs/CreditManager/xs/sqlite3/storage.ide-wal
/Source/Application/OJS.App.Web/appsettings.Development.json
/Source/Application/OJS.App.Admin/out/*
.vscode/
Source/Application/Kensho.App.Web/wwwroot/dist/
/Source/Application/demo.web.ui/node_modules/
